.Hero {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.HeroImage {
    display: flex;
    width: 100vw;
    height: 52vw;
    z-index: 0;
    position: relative;
}

.HeroSub {
    display: flex;
    font-family: 'BIZ UDPGothic';
    font-weight: bold; 
    font-size: 1.875vw;
    letter-spacing: 0vw;
    line-height: 2.8125vw;
    color: #C1EDF4;
    position: relative;
    z-index: 3;
    margin-left: 5vw;
    margin-top: -40vw;
}

.HeroSub2 {
    display: flex;
    font-family: 'BIZ UDPGothic';
    font-weight: bold; 
    font-size: 1.875vw;
    letter-spacing: 0vw;
    line-height: 2.8125vw;
    color: #C1EDF4;
    position: relative;
    z-index: 3;
    margin-left: 5vw;
    margin-top: -3vw;
}

.HeroHeader {
    display: flex;
    font-family: 'BIZ UDPGothic';
    font-weight: bold;  
    font-size: 2.65625vw;
    letter-spacing: 0.01953125vw;
    line-height: 3.9843749999999996vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: #ffff;
    position: relative;
    z-index: 3;
    font-weight: 600;
    margin-left: 5vw;
    margin-top: -3vw;
}

.Button {
    display: flex;
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 1vw;
    font-family: 'BIZ UDPGothic';
    font-weight: 900; 
    font-size: 1.09375vw;
    letter-spacing: 0.09765625vw;
    line-height: 1.640625vw;
    color: #FFFBF7;
    background-color: #f16a8d;
    border: .1vw solid #fcdfe7;
    border-radius: .8vw;
    margin-left: 5vw;
    margin-top: 5vw;
    z-index: 3;
    box-shadow: rgba(241, 106, 141, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
} 

.Button:hover {
    background-color: #fcdfe7;
    color: #F16A8D;
    font-weight: bold;
    border: .1vw solid #F16A8D;
    font-family: 'BIZ UDPGothic';
    font-weight: 900; 
    cursor: pointer;

}

.HeroImageMob {
    display: none;
}

/* ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^___*/
/* ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^___*/
/* ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^___*/
/* ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^____ ____^___*/

/* PHONES */
@media (max-width: 576px) {

    .Hero {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        /* height: fit-content; */
        justify-content: center;
        align-items: center;

    }
    .HeroImage {
        display: none;
    }
    
    .HeroImageMob {
        display: flex;
        width: 100vw;
        height: 147vw;
        z-index: 1;
        object-fit: cover;
        justify-content: center;
    }

    .HeroSub {
        display: flex;
        font-family: 'BIZ UDPGothic', sans-serif;
        font-weight: bold; 
        font-size: 7.5vw;
        letter-spacing: 0vw;
        line-height: 11.25vw;
        color: #C1EDF4;
        position: relative;
        z-index: 3;
        margin-top: -140vw;
        text-align: center;
        margin-left: 0vw;
        max-width: 80vw;
    }
    
    .HeroSub2 {
        display: flex;
        font-family: 'BIZ UDPGothic', sans-serif;
        font-weight: bold; 
        font-size: 7.5vw;
        letter-spacing: 0vw;
        line-height: 11.25vw;
        color: #C1EDF4;
        position: relative;
        z-index: 3;
        text-align: center;
        margin-top: .5vw;
        margin-left: 0vw;

    }
    
    .HeroHeader {
        display: flex;
        font-family: 'BIZ UDPGothic', sans-serif;
        font-weight: bold;
        font-size: 10.625vw;
        letter-spacing: 0.078125vw;
        line-height: 12.9375vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        color: #ffff;
        position: relative;
        z-index: 3;
        font-weight: 600;
        /* margin-left: 5vw; */
        margin-top: .5vw;
        text-align: center;
        margin-left: 0vw;
    }
    
    .Button {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 70vw;
        height: fit-content;
        padding: 5vw;
        font-family: 'BIZ UDPGothic', sans-serif;
        font-weight: bold; 
        font-size: 4.375vw;
        letter-spacing: 0.390625vw;
        line-height: 6.5625vw;
        color: #FFFBF7;
        background-color: #f16a8d;
        border: .4vw solid #fcdfe7;
        border-radius: 3vw;
        z-index: 3;
        box-shadow: rgba(241, 106, 141, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        margin-top: 30vw;
        justify-content: center;
        margin-left: 0vw;
    } 
    
    .Button:hover {
        background-color: #fcdfe7;
        color: #F16A8D;
        font-weight: bold;
        border: .4vw solid #F16A8D;
        font-family: 'BIZ UDPGothic', sans-serif;
        font-weight: bold; 
        cursor: pointer;
    }
    
    }
    
    /* TABLETS */
    @media (max-width: 768px) { 
        .Hero {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100vw;
            /* height: fit-content; */
            justify-content: center;
            align-items: center;
    
        }
        .HeroImage {
            display: none;
        }
        
        .HeroImageMob {
            display: flex;
            width: 100vw;
            height: 147vw;
            z-index: 1;
            object-fit: cover;
            justify-content: center;
        }
    
        .HeroSub {
            display: flex;
            font-family: 'BIZ UDPGothic', sans-serif;
            font-weight: bold; 
            font-size: 7.5vw;
            letter-spacing: 0vw;
            line-height: 11.25vw;
            color: #C1EDF4;
            position: relative;
            z-index: 3;
            margin-top: -140vw;
            text-align: center;
            margin-left: 0vw;
            max-width: 80vw;
        }
        
        .HeroSub2 {
            display: flex;
            font-family: 'BIZ UDPGothic', sans-serif;
            font-weight: bold; 
            font-size: 7.5vw;
            letter-spacing: 0vw;
            line-height: 11.25vw;
            color: #C1EDF4;
            position: relative;
            z-index: 3;
            text-align: center;
            margin-top: .5vw;
            margin-left: 0vw;
    
        }
        
        .HeroHeader {
            display: flex;
            font-family: 'BIZ UDPGothic', sans-serif;
            font-weight: bold;
            font-size: 10.625vw;
            letter-spacing: 0.078125vw;
            line-height: 12.9375vw;
            padding-top: 5vw;
            padding-bottom: 5vw;
            color: #ffff;
            position: relative;
            z-index: 3;
            font-weight: 600;
            /* margin-left: 5vw; */
            margin-top: .5vw;
            text-align: center;
            margin-left: 0vw;
        }
        
        .Button {
            display: flex;
            flex-direction: row;
            position: relative;
            width: 70vw;
            height: fit-content;
            padding: 5vw;
            font-family: 'BIZ UDPGothic', sans-serif;
            font-weight: bold; 
            font-size: 4.375vw;
            letter-spacing: 0.390625vw;
            line-height: 6.5625vw;
            color: #FFFBF7;
            background-color: #f16a8d;
            border: .4vw solid #fcdfe7;
            border-radius: 3vw;
            /* margin-left: 5vw; */
            z-index: 3;
            box-shadow: rgba(241, 106, 141, 0.2) 0px 7px 29px 0px;
            cursor: pointer;
            margin-top: 30vw;
            /* margin-right: 20vw; */
            justify-content: center;
            margin-left: 0vw;
        } 
        
        .Button:hover {
            background-color: #fcdfe7;
            color: #F16A8D;
            font-weight: bold;
            border: .4vw solid #F16A8D;
            font-family: 'BIZ UDPGothic', sans-serif;
            font-weight: bold; 
            cursor: pointer;
        }
       
    }
    
    /* LAPTOPS */
    @media (max-width: 992px) {
    
       
    }
    
    /* LARGE DEVICES */
    @media (max-width: 1200px) { 
          
    }