.NavContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 5vw;
    background-image: url(../../Assets/NavBkg.png);
    background-size: 100vw;
    background-position: cover;
    position: sticky;
    top: 0;
    /* position: absolute; */
    z-index: 6;
    box-shadow: rgba(117, 174, 227, 0.2) 0px 0.625vw 1.875vw;
}

.Title {
    width: 100vw;
    height: 6vw;
    line-height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.6vw;
    letter-spacing: .02vw;
    color: black;
    margin-left: 2vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.SocialLinks{
    width: 30vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2vw;
    z-index: 5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.SocialLink{
    width: 4vw;
    height: 4vw;
    display: flex;
    padding-left: 2vw;
    z-index: 5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}