.NavContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vw;
    background-image: url(../../Assets/TopNavBkg.png);
    background-size: 100vw;
    position: sticky;
    top: 0;
    /* position: absolute; */
    z-index: 6;
}

.Title {
    width: 100vw;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.6vw;
    letter-spacing: .02vw;
    color: black;
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.SocialLinks{
    width: 100vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2vw;
    z-index: 5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.SocialLink{
    width: 4vw;
    height: 4vw;
    display: flex;
    padding-left: 2vw;
    z-index: 5;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}