.Wrapper {
    width: 100vw;
    display: flex;
    margin-top: -88vw;
}

.Header {
    display: flex;
    flex-direction: row;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2.6vw;
    letter-spacing: .02vw;
    color: black;
    position: relative;
    z-index: 5;
    margin-left: 2vw;
    z-index: 1;
}

.HistoryImg {
    width: 96vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 83vw;
    margin-left: 2vw;
    z-index: 4;
}